<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detskyi sad "Romashka"</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="css/reset.css">


</head>
<body  class="body">
    <header class="header" >
        <div class="wraper">
           <div class="header_wrapper">
            <div class="header_logo" >
                <a href="/" class="header_logo-link">
                    <img src="/img/svg/Group 6.svg" alt="logo" class="header_logo-pic">
                </a>
            </div>
            
            <nav class="header_nav">
                <ul class="header_list">
                    <li class="header_item">
                        <a href="javascript:void" class="header_link">main</a>
                    </li>
                    <li class="header_item">
                        <a href="javascript:void" class="header_link"> about us</a>
                    </li>
                    <li class="header_item">
                        <a href="javascript:void" class="header_link"> conditions</a>
                    </li>
                    <li class="header_item">
                        <a href="javascript:void" class="header_link">contacts</a>
                    </li>
                    <li class="header_item">
                        <a href="javascript:void" class="header_link">daily regime</a>
                        
                    </li>
                    <div class="search-form">
                        <input type="text" class="search-form_txt" placeholder="Search...">
                        <button class="search-form_btn">
                            <img src="./img/svg/Group 15.svg" alt="image" class="search-form_image">
                        </button>
                    </div>
                </ul>
            </nav>
           </div>
                   </div>
    </header>
    <main class="main">
        <div class="wraper">
            <div class="firstblock">
                <div>
                    <div class="privetstvie">
                        The best<span> kindergarten </span> for your children
                    </div>
                    <p class="subtitle">An ideal place for the comprehensive development of the child thanks to a unique program and qualified teachers.</p>

                </div>
               
                <img src="/img/svg/e5d201de-58cb-4418-bb19-339228d2d707 1 1.png" alt="" class="like">
                
            </div>
            <div>
                <button type="button" class="learnmore">
                    <a href="" class="btn">Learn more</a>
                </button>
            </div>
            <div class="ssylka">
                <div class="culture">
                    <h2 class="title1">
                        Find out about our work and cultural activities
    
                    </h2>
                   
                    <img src="/img/svg/image 6.png" alt="" class="uzor">
                    <div class="yellowcross">
                        <img src="/img/svg/yellowcross.svg" alt="">
                        <img src="/img/svg/underyellow.svg" alt="" class="underyellow">
                    </div>
                    <div class="greencross">
                        <img src="/img/svg/greencross.svg" alt="">
                        <img src="/img/svg/undergreen.png" alt="" class="undergreen">
                    </div>
                    <div class="pinkcross">
                        <img src="/img/svg/pinkcross.svg" alt="">
                        <img src="/img/svg/underpink.svg" alt="" class="underpink">
                    </div>
                    <button class="video">
                        <a href="https://youtube.com/@kindergartenchamomile5251" class="vidoehref">
                        watch the video
                    </a>
                    </button>
                </div>

            </div>
            <div class="blocks">
                <div class="block1">
                    <img src="/img/svg/greenicon.svg" alt="">
                    <p class="text_block">
                        Complies with the requirements of the law on the rights of the protection of children
                    </p>
                </div>
                <div class="block2">
                    <img src="/img/svg/pinkicon.svg" alt="">
                    <p class="text_block">
                        individual care and attention to every child
                    </p>
                </div>
                <div class="block3">
                    <img src="/img/svg/yellowicon.svg" alt="">
                    <p class="text_block">
                        safe security system provided by modern smart technologies
                    </p>
                </div>
            </div>
            <div class="director">
                <div class="firstbl">
                    <img src="/img/svg/director.svg" alt="">
                    <p class="p1">
                        Jumakanov S. A. 
                    </p>
                    <p class="p2">
                        +996553141031
                    </p>

                </div>
                <div class="speech">
                    <p class=" title2">
                        Director Jumakanov S. A. about "Romashka" :
                    </p>
                    <p class="title3">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                    </p>
                </div>

            </div>
            <div class="orientir">
                <p class="p4">Guideline for parents</p>
            </div>
            <div class="stat_block">
                <img src="/img/svg/statistic.png" alt="">
                <p id="statistic">
                    Statistic
                </p>
                <p id="blabla">
                    Here you can find complete statistics about our kindergarten: number of students, performance, reviews, etc.
                </p>
                <button class="stat_button">
                    <a href="" class="stat_href">
                        visit
                    </a>
                </button>
            </div>
            <div class="cur_block">
                <p id="curriculum">
                    Curriculum
                </p>
                <p class="cur_title">
                    Here you can see the training program for the period of study
                </p>
                <img src="/img/svg/programma.png" alt="" id="programme_pic">
                <button class="prog_but">
                    <a href="" class="stat_href">visit</a>
                </button>
            </div>
            <div class="adress_block">
                <img src="/img/svg/adress.svg" alt="" id="location">
                <p id="adress">
                    Address
                </p>
                <p class="add_title">
                    The advantage of the location of our institution is that there are polyclinics, pharmacies, retail outlets, etc. nearby.
                </p>
                <button class="add_but">
                    <a href="" class="stat_href"> visit</a>
                </button>
            </div>
            <div class="shedule_block">
                <p id="shedule">
                    Shedule
                </p>
                <p class="shed_title">
                    Here you can see the daily schedule, as well as the menu
                </p>
                <img src="/img/svg/shedule_img.svg" alt="" class="shedule_img">
                <button class="shed_butt">
                    <a href="" class="stat_href">visit</a>
                </button>
            </div>
            <div class="pay_block">
                <img src="/img/svg/payment.svg" alt="" class="pay_img">
                <p id="payment">
                    Payment
                </p>
                <p class="pay_title">
                    Here you can pay for tuition, nightingaling, security, etc.
                </p>
                <button class="pay_butt">
                    <a href="" class="stat_href">visit</a>
                </button>
            </div>
                <div class="wrapper"> 
                    <span class="box third-num"></span>
                    <span class="box second-num"></span>
                    <span class="box first-num"></span>
                </div>
           
    </main>
    
  </body>
</html>
